*{
margin: 0;
padding: 0;
}
body{
font-family: 'Roboto', sans-serif;
}
.logo{
width: 100%;
height: 100%;
}
.logoIMG{
margin: 20px;
}
.list{
border-bottom: 1px solid #FFFFFF;
margin-top: 30px;
list-style: none;
display: flex;
justify-content: space-around;
}
.list_a{
text-decoration: none;
/* margin-right: 12px; */
font-size: 11px;
font-weight: 900;
font-style: normal;
color: #fff;
/* transition: 0.3s all ease; */
}
.list_a:hover{
color: #e37639;
transition: 2s;
}
nav{
height: 100%;
background: url(img/overview-1920.jpeg);
background-size: cover;
background-repeat: no-repeat;
}
.glavniy{
margin-top: 10px;
list-style: none;
display: flex;
}
.glavniy_a{
text-decoration: none;
/* margin-right: 12px; */
font-size: 12px;
font-style: normal;
color: #fff;
font-weight: 400;
/* transition: 0.3s all ease; */
margin-left: 15px;
}
.glavniyS{
color: rgb(176, 164, 164);
}
.glavniy_a:hover{
color: coral;
transition: 2s;
}
.zero{
margin-left: 5px;
color: white;
}
/* ==================================== */
.newCard{
margin-top: 300px;
margin-bottom: 90px;
}
.new{
/* margin-top: auto; */
/* margin-bottom: 12px; */
font-family: "LADA-Pragmatica-Bold";
font-size: 15px;
font-weight: 9  00;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #fff;
}
.mesto{
font-size: 50px;
font-weight: 400;
color: #FFFFFF;
/* text-transform: uppercase; */
}
.summa{
/* line-height: 27px; */
/* margin-right: 20px; */
font-size: 24px;
font-weight: 900;
font-family: "LADA-Pragmatica-Bold";
color: #e37639;
}
/* =============Sectoion 1======================= */
.komfortCard{
margin-top: 50px;
margin-bottom: 50px;
/* padding: 3px; */
border: 1px solid rgb(255, 255, 255);
border-radius: 15px;
width: 50%;
}
.bezo{
font-size: 20px;
border: none;
border-radius: 20px;
padding: 6px;
font-weight: 700;
/* background: url(img/exterior-1.jpeg); */
color: rgb(37, 50, 62);
}
.bezo:hover{
background-color: #c8b9b0;
transition:1s ;
}
.left{
position: relative;
left: 110px;
}
.bezo-2:hover{
background-color: #c8b9b0;
transition:1s ;
border-radius: 20px;
padding: 6px;
}
.bezo-2{
/* background: url(img/constructor.jpeg); */
background-color: rgba(0, 0, 0, 0);
background-size: px;
padding: 2px;
border: none;
font-weight: 500;
font-size: 17px;
color: white;
}
.section-1{
background: url(img/fotor_2023-3-1_15_8_36.jpg);
/* background-color: coral; */
background-size: cover;
background-repeat: no-repeat;
/* height: 100%; */
width: 100%;
}
.vneshnost{
margin-top: 50px;
color: #FFFFFF;
font-size: 40px;
font-weight: 200;
}
.good{
margin-top: 30px;
width: 100%;
font-size: auto;
font-weight: auto;
color: #FFFFFF;
}
.bigCard{
margin-left: 40px;
margin-bottom: 450px;
}
.smallCard{
background-color: rgb(59, 55, 55);
width: 100%;
}
.miniCard{
/* margin: 10px; */
padding: 40px 40px 40px 40px;
width: 100%;
}
.caruselCard-2{
border-bottom: 1px solid white;
width: 21%;
margin-top: 80px;
margin-bottom: 30px;
}
.disk{
color: #FFFFFF;
}
.extra{
/* margin-top: 50px */
font-size: 14px;
line-height: 0px;
color: #FFFFFF;
}
.stil{
width: 90%;
font-size: 16px;
color: #FFFFFF;
margin-bottom: 100px;
}
.butCard{
padding-top: 30px;
}
.patron{
    border: 1px solid white;
    /* font-size: 20px; */
    border-radius: 50%;
    background-color: #262626;
    padding: 22px;
}
/* ===========Section-2========================= */
.section-2{
background: url(img/constructor.jpeg);
height: 100%;
background-repeat: no-repeat;
background-size: cover;
}
.vibor{
padding-top: 80px;
color: #FFFFFF;
font-weight: 200;
font-size: 50px;
padding-bottom: 20px;
}
.avto-2-1{
background-color: rgba(0px, 0x, 0px,0px );
/* width: 150px; */
width: 28%;
padding: 4px 4px 4px 6px;
margin-bottom: 20px;
border-radius: 20px;
border: 1px solid white;
}
.avto-2-1-2{
background-color: rgba(0px, 0x, 0px,0px );
/* width: 150px; */
width: 23%;
padding: 2px 2px 4px 7px;
margin-bottom: 20px;
border-radius: 20px;
border: 1px solid white;
}
.avto-2-1-3{
margin-bottom: 20px;
background-color: rgba(0px, 0x, 0px,0px );
/* width: 150px; */
width: 20%;
padding: 4px 4px 4px 6px;
border-radius: 20px;
border: 1px solid white;
}
.avto{
color: rgb(53, 52, 61);
font-weight: 600;
padding: 4px 15px 4px 15px;
border-radius: 20px;
border: none;
background-color: #f4f4f4;
}
.avtoCard{
width: 100%;
}
.podushka{
font-size: 17px;
color: #FFFFFF;
}
.year{
color: #e37639;
}
.dolar1{
margin-top: 50px;
margin-bottom: 70px;
/* line-height: 32px; */
/* margin-bottom: 12px; */
font-size: 32px;
font-weight: 900;
color: #e37639;
font-family: "LADA-Pragmatica-Bold";
}
.skachat_a{
display: flex;
margin-bottom: 100px;
text-decoration: none;
}
.skachat{
margin-top: 5px;
margin-left: 10px;
font-size: 12px;
color: #FFFFFF;
font-weight: 700;
}
/* ===============Section-3===================== */
.svet{
margin-top: 70px;
font-size: 50px;
font-weight: 300;
color: rgb(101, 101, 129);
}
.audiP{
width: 100%;
}
.karakum{
margin: auto;
background-color:#74766a;
width: 90px;
height: 90px;
border-radius: 50%;
}
.metal{
margin-top: 50px;
margin-bottom: 100px;
text-align: center;
font-size: 17px;
font-weight: 800;
color: #4c5865;
}
/* ===============Section-4===================== */
.motor{
padding-top: 100px;
padding-bottom: 100px;
width: 80%;
height: 80%;
}
.section-4{
background-color: #343333;
}
.dvigatel{
padding-top: 100px;
color: #FFFFFF;
font-size: 40px;
font-weight: 300;
}
.dvigatelCard{
background-color: #262626;
}
.dvigartelCard-2{
padding-left: 70px;
}
.sovremeno{
color: #FFFFFF;
font-size: 18px;
width: 90%;
font-weight: 400;
margin-top: 50px;
}
.onelitrCard{
margin-top: 100px;
border-bottom: 1px solid #918888;
width: 90%;
}
.litr{
font-size: 40px;
color: #FFFFFF;
}
.rabota{
color:#a6adb5 ;
font-weight:400;
font-size: 18px;
}
.rabotanum{
color: #FFFFFF;
font-size: 16px;
font-weight: 700;
}
.rabotaCard{
margin-top: 50px;
padding-bottom: 20px;
}
/* .rabotaCard-2{
margin-top: 50px;
padding-bottom: 20px;
margin-left: 150px;
} */
.bigRabotaCard{
display: flex;
justify-content: space-between;
width: 80%;
}
/* ===============Section-5===================== */
.kilo{
width: 100%;
height: 100%;
}
/* ===============Section-6===================== */
.kuzovCard{
margin-top: 100px;
}
.kuzovCard-2-2{
margin-left: 50px;
margin-top: 100px;
border-left: 1px solid #908686;
}
.oyna-2{
border-bottom: 1px dashed  #908686;
padding-top: 20px;
padding-bottom: 50px;
}
.kuzov{
margin-top: 45px;
/* font-family: "LADA-Pragmatica-Bold"; */
font-size: 20px;
color: #4c5865;
font-weight: 700;
}
.koleso{
font-size: 16px;
color: #66727d;
font-weight: 400;
}
.koleso-2{
/* line-height: 25px; */
/* margin-bottom: 50px; */
width: 90%;
font-size: 16px;
color: #66727d;
font-weight: 400;
}
.oyna-3{
margin-top: 60px;
margin-left: 60px;
}
.kuzov-2{
/* font-family: "LADA-Pragmatica-Bold"; */
font-size: 20px;
color: #4c5865;
font-weight: 700;
margin-left: 50px;

}
.oyna{
border-bottom: 1px dotted  #908686;
}
.toplivaCard{
margin-top: 50px;
margin-bottom: 50px;
}
.topliva{
font-size: 12px;
color: #a6adb5;
font-weight: 400;
}
.skachat_a-2{
display: flex;
margin-bottom: 70px;
text-decoration: none;
}
.skachat-2{
margin-top: 5px;
margin-left: 10px;
font-size: 13px;
color: #FFFFFF;
font-weight: 900;
text-transform: uppercase;
font-family: "LADA-Pragmatica-Bold";
color: #e37639;

}
/* ==============Footer====================== */
footer{
background-color: #f7f8f8 ;
}
.modelF{
margin-top: 70px;
margin-bottom: 20px;
color: #4c5053;
font-size: 17px;
font-weight: 700;
}
.li_item{
list-style: none;
}
.li_a{
text-decoration: none;
line-height: 21px;
font-size: 15px;
/* font-family: "LADA-Pragmatica-Bold"; */
/* text-transform: uppercase; */
color: #66727d;
margin-bottom: 50px;
}
.li_a:hover{
    color: #e37639;
}
.foterCard{
    margin-top: 110px;
}
.numberF{
    font-size: 36px;
    color: #4c5865;
    font-weight: 500;
}
.klient{
    margin-top: 10px;
    margin-bottom: 50px;
    width: 30%;
 
}
.klient_a{
    color: #848e98;
    font-size: 13px;
    font-weight: 700;
    text-decoration: none;
}
.klient_a:hover{
color: #e37639;
}
.iconCard{
    display: flex;
}
.icon_a{
    width: 10%;
    color: #343333;
    font-size: 22px;
}
.icon_a:hover{
    color: #e37639;
}
.info{
    font-size: 13px;
    color: #a6adb5;
}
.max{
    font-size: 12px;
    color: #a6adb5;
}
.max_a{
    /* text-decoration: none; */
    color: #e37639;
}
.max_a:hover{
    color: #262626;
}
.vopros{
    color: #4c5053;
    font-size: 18px;
    font-weight: 600;
}
/* ================Responsive==================== */
@media (max-width: 575px) {
.sabzi{
margin-top: 20px;
color: #e37639;
font-size: 30px;
}
.vas{
background-color: #FFFFFF;
}
.glavniy_a{
margin-top: 10px;
margin-left: 0;
}
.glavniy_item{
list-style: none;
}
.resGlavniy{
margin-top: 50px;
}
.glavniyS{
list-style: none;
}
.new{
font-size: 16px;
/* margin-left: 20px; */
}
.mesto{
font-size: 39px;
/* margin-left: 20px; */
}
.newCard{
margin-left: 20px;
}
.vibor {
    padding-top: 80px;
    color: #FFFFFF;
    font-weight: 200;
    font-size: 20px;
    padding-bottom: 20px;
}
.svet {
    margin-top: 70px;
    font-size: 39px;
    font-weight: 300;
    color: rgb(101, 101, 129);
}
.kuzov-2 {
    /* font-family: "LADA-Pragmatica-Bold"; */
    font-size: 11px;
    color: #4c5865;
    font-weight: 700;
    margin-left: 5px;
}
.oyna-3 {
    margin-top: 60px;
    margin-left: 10px;
}
.koleso-2 {
    /* line-height: 25px; */
    /* margin-bottom: 50px; */
    width: 90%;
    font-size: 15px;
    color: #66727d;
    font-weight: 400;
}
.koleso {
    font-size: 11px;
    color: #66727d;
    font-weight: 400;
}
.kuzov {
    margin-top: 45px;
    /* font-family: "LADA-Pragmatica-Bold"; */
    font-size: 14px;
    color: #4c5865;
    font-weight: 700;
}
}
